.btn-primary {
  color: $white;
}

body {
  font-size: 1rem;
}

a {
  display: inline-block;
  &:hover {
    opacity: 0.8;
  }
}

img {
  object-fit: cover;
}

.font-Squada {
  font-family: "Squada One", cursive;
}

.font-Paytone {
  font-family: "Paytone One", sans-serif;
}

.text-vertical {
  writing-mode: vertical-lr;
}

.btn--tri {
  position: relative;
  &::after {
    content: "";
    border-right: 8px solid $primary;
    border-bottom: 8px solid $primary;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &:hover &::after {
    content: "";
    border-right: 16px solid $dark;
    border-bottom: 16px solid $dark;
    border-left: 16px solid transparent;
    border-top: 16px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.ranking {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// * {
//   outline: solid 1px;
// }

.artist-img {
  object-fit: cover !important;
  width: 300px;
  height: 300px;
}

.ranking-img {
  height: 375px;
  object-fit: cover;
  object-position: top;
}
.ranking-img2 {
  height: 96px;
  width: 96px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: top;
}

.card-info {
  opacity: 0;
}

.card:hover .card-info {
  opacity: 1;
  color: $light;
  padding: 32px;
  background: rgba($dark, 0.5);
  border: solid 24px $light;
  outline: inset 1px 1px $light;
  position: relative;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.9);
    border: solid 1px $light;
    width: 100%;
    height: 100%;
  }
}

.series-work {
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
  }
  &::before {
    border-bottom: solid 12px transparent;
    border-right: solid 12px transparent;
    border-left: solid 12px $dark;
    border-top: solid 12px $dark;
    left: 0;
  }
  &::after {
    border-bottom: solid 12px transparent;
    border-left: solid 12px transparent;
    border-right: solid 12px $dark;
    border-top: solid 12px $dark;
    right: 0;
  }
}
.series-work-item {
  height: 260px;
}

.banner-img {
  height: 100%;
  @media (min-width: 320px) {
    height: 375px;
  }
}

.my-btn-outline-primary {
  border: solid 1px $dark;
  background: $light;
  color: $dark;
  position: relative;
  &::after {
    content: "";
    border-right: 8px solid $primary;
    border-bottom: 8px solid $primary;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &:hover {
    background: $primary;
    color: $light;
  }
  &:hover::after {
    content: "";
    border-right: 8px solid $dark;
    border-bottom: 8px solid $dark;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.my-btn-noBorder-primary {
  color: $dark;
  position: relative;
  &::after {
    content: "";
    border-right: 8px solid $primary;
    border-bottom: 8px solid $primary;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  &:hover {
    border: solid 1px $dark;
    background: $primary;
    color: $light;
  }
  &:hover::after {
    content: "";
    border-right: 8px solid $dark;
    border-bottom: 8px solid $dark;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.mb-minus-1 {
  margin-bottom: -1px;
}
